@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

.hero-background {
  display: flex;
  flex-direction: column;
  gap: 0px;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-background::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;

}

#Center {
  display: flex;
  flex-direction: column;
  gap: 0px;
  place-content: center;
  place-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (max-width: 1024px) {
    padding: 50px 20px 20px;
    gap: 0px;
  }
}

.Archivist {
  font-family: 'Cinzel Decorative', serif;
  font-size: 120px;
  font-weight: 700;
  color: #3b240e;
  text-shadow: 0px 5px 5px rgb(58, 57, 57);
  margin-bottom: 0px;
  margin-top: 0px;
  height: 128px;
}

.liner {
  font-size: 20px;
  color: rgb(253, 253, 213);
  font-weight: 900;
  text-shadow: 0px 0px 4px black;
  margin: 0px;
}

.question-card {
  margin: 0;
  background-image: url(./assets/que.png);
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 360px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 24px;
  color: #3b240e;
}

.card {
  background-image: url(./assets/card.png);
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 150px;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin: 0px 5px 2px 5px;
  text-align: center;
}
.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.card h2{
  color: #331c0c;
  margin-top: 0px;
}
.cards {
  display: flex;
  justify-content: center;
}

.book-background {
  display: flex;
  flex-direction: column;
  gap: 0px;
  place-content: center;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.book-background::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/upscalemedia-transformed\ \(2\).png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}